<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-4"></div>
    <div class="col-lg-8">
        <ul>
            <li>
                <h1>Educacion 1</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Delectus et porro, illum voluptatibus laboriosam officiis sapiente eligendi, 
                deleniti doloremque animi repellat facere, deserunt doloribus facilis provident quas cupiditate consequatur nam!</p>
        </ul>
        <ul>
            <li>
                <h1>Educacion 2</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Delectus et porro, illum voluptatibus laboriosam officiis sapiente eligendi, 
                deleniti doloremque animi repellat facere, deserunt doloribus facilis provident quas cupiditate consequatur nam!</p>
        </ul>
        <ul>
            <li>
                <h1>Educacion 3</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Delectus et porro, illum voluptatibus laboriosam officiis sapiente eligendi, 
                deleniti doloremque animi repellat facere, deserunt doloribus facilis provident quas cupiditate consequatur nam!</p>
        </ul>

    </div>
</div>