.redes {
    margin-right: 0.5em;
}
#logoAP {
    width: 7rem;
}
img {
    width: 35px;
}
.btn {
    border-width: medium;
    border: 0px;
    color: aliceblue;
}
.btn:hover {
    background-color: #0c0d24;
}

/* Vista movil*/
@media (max-width: 575px){
    .container {
        flex-direction: column;
    }
    a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    img{
        margin: 0.3em;
    }
}
