<div class="row">
    <h1>Hard & Soft skils</h1>
    <!--HTML-->
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="60"
            [radius]="100"
            [imageSrc]="'../assets/iconosleng/html.png'"
            [showImage]="true"
            [imageHeight]="85"
            [imageWidth]="85"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#381652'"
            [innerStrokeColor]="'#6E349B'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <!--HTML-->
    <!--CSS-->
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="100"
            [imageSrc]="'../assets/iconosleng/CSS.png'"
            [showImage]="true"
            [imageHeight]="85"
            [imageWidth]="85"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#381652'"
            [innerStrokeColor]="'#6E349B'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <!--CSS-->
    <!--JS-->
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="55"
            [radius]="100"
            [imageSrc]="'../assets/iconosleng/js.png'"
            [showImage]="true"
            [imageHeight]="85"
            [imageWidth]="85"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#381652'"
            [innerStrokeColor]="'#6E349B'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <!--JS-->
    <!--GitHub-->
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="79"
            [radius]="100"
            [imageSrc]="'../assets/iconosleng/git.png'"
            [showImage]="true"
            [imageHeight]="95"
            [imageWidth]="95"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#381652'"
            [innerStrokeColor]="'#6E349B'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <!--GitHub-->
    <!--ENGLISH-->
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [imageSrc]="'../assets/iconosleng/eng.png'"
            [showImage]="true"
            [imageHeight]="95"
            [imageWidth]="95"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#381652'"
            [innerStrokeColor]="'#6E349B'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <!--ENGLISH-->
    <!--GROUPWORK-->
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="100"
            [radius]="100"
            [imageSrc]="'../assets/iconosleng/grupal.png'"
            [showImage]="true"
            [imageHeight]="95"
            [imageWidth]="95"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#381652'"
            [innerStrokeColor]="'#6E349B'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <!--GROUPWORK-->
</div>
