.gradient-custom {
    /* fallback for old browsers */
    background: #0c0d24;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #0c0d24, #2b0d2e);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #0c0d24, #2b0d2e)
}
label, h2, p {
    color:#e7e9e3;
}